<h2>Conditional Visibility</h2>
<p class="notes">{{localize "CONVIS.help.gamesystem"}} : {{gamesystem}}, {{localize "CONVIS.help.hasStealth"}}: {{hasStealth}}</p>
{{#if hasStealth}}
<p class="notes">{{localize "CONVIS.settings.autoStealth.name"}} : {{autoStealth}}</p>
{{/if}}
<table>
    <thead>
        <tr>
            <th colspan="2">{{localize "CONVIS.help.availableconditions"}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each conditions as |value idx|}}
        <tr>
            <td>{{value.name}}</td>
            <td align="center" bgcolor="#000000"><img src="{{value.icon}}" width="24" height="24" alt="{{value.icon}}"/></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p class="notes">{{localize "CONVIS.help.readmeat"}} <a href="https://github.com/gludington/conditional-visibility/blob/master/README.md">README</a></p>    