<form class="visible-conditions">
    <p class="hint">{{localize 'CONVIS.description'}}</p>
    <button>{{localize 'CONVIS.clearAll'}}s</button>
    <fieldset class="thwildcard-default {{#if available}}active{{/if}}">
        <legend>{{localize 'CONVIS.statuses'}}</legend>
        <div class="form-group">
            {{#statusConditions}}
            <label for="{{code}}">{{name}}</label>
            <input type="checkbox" name="{{code}}"/>
            {{/statusConditions}}
        </div>
        <p class="hint">{{localize 'CONVIS.statusesHint'}}</p>
    </fieldset>
    <fieldset class="thwildcard-default {{#if available}}active{{/if}}">
        <legend>{{localize 'CONVIS.characters'}}</legend>
        <div class="form-group">
            {{#characters}}
            <label for="characters.{{code}}">{{name}}</label>
            <input type="checkbox" value="{{code}}" name="characters.{{code}}"/>
            {{/characters}}
        </div>
        <p class="hint">{{localize 'CONVIS.charactersHint'}}</p>
    </fieldset>       
    </form>